<h1>Editing subtask</h1>


<% if can? :crud, @task %>
	<%= render 'form' %>
	<%= link_to 'Show', @task %> |
	<%= link_to 'Back', tasks_path %>
<% else %>
	<div>You can't edit on this page!</div>
	<%= link_to 'Back', tasks_path%>
<% end %>

