/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 *= require bootstrap-datetimepicker
 */

div#saas-content-body 
{
padding: 10px;
}

.center-text 
{
text-align: center;
}

#notice 
{
font-weight: bold;
}

.overdue 
{
font-weight: bold;
color: #f00;
}

form.button_to
{
margin: 0;
padding: 0;
}

input.task-button, 
input.subtask-button
{
display: block;
background-color: #002e5b;
color: #fff;
text-decoration: none;
border-style: none;
padding: 5px;
width: 100px;
}

ul#task-edit-buttons 
{
display: block;
height: 50px;
list-style: none;
}
ul#task-edit-buttons li 
{
display: block;
height: 50px;
width: 100px;
margin-right: 10px;
float: left;
}

#user-info
{
	color: #00ff00;
}

.user_input
{
	width: 40%
}

a.calcentral_header
{
	padding-top: 10px;
	color: white;
	font-size: 120%;
}

a.calcentral_header:visited
{
	padding-top: 10px;
	color: white;
	font-size: 120%;
}
#fork {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.legend {
    width: 10em;
    border: 1px solid black;
    float: right;
}

.legend .title {
    display: block;
    margin-bottom: 0.5em;
    line-height: 1.2em;
    padding: 0 0.3em;
}

.legend .color-sample {
    display: block;
    float: left;
    width: 1em;
    height: 1em;
    border: 2px solid; /* Comment out if you don't want to show the fillColor */
    border-radius: 0.5em; /* Comment out if you prefer squarish samples */
    margin-right: 0.5em;
}