/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

div#saas-content-body 
{
padding: 10px;
}

.center-text 
{
text-align: center;
}

#notice 
{
font-weight: bold;
}

.overdue 
{
font-weight: bold;
color: #f00;
}

form.button_to
{
margin: 0;
padding: 0;
}

input.subtask-button
{
display: block;
background-color: #002e5b;
color: #fff;
text-decoration: none;
border-style: none;
padding: 5px;
width: 100px;
}

#user-info
{
	color: #00ff00;
}

